* {
    margin: 0 ;
    padding: 0 ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    width: 100%;
    border-bottom: 1px solid #D0D1D3;
    background-color: #000;
            
}

.cabecalho {
    max-width: 1296px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img img {
    max-height: 30px;
}

.botoes_cabecalho ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.botoes_cabecalho li {
    margin: 0 15px;
}

.btn {
    font-size: 16px;
    font-weight: 400;
}

.btn:hover {
    color: #ccc;
}

.btn_comprar_cabecalho {
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.btn_comprar_cabecalho:hover {
    background-color: #fff;
    color: #000;
}

.block1_card p {
    color: #C4C4C4;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.block1 img {
    max-width: 100%;
    height: auto;
}

.block2 {
    display: flex;
    max-width: 1296px;
    margin: 52px auto;
    padding: 0;
    align-items: center;
    justify-content: space-between;
      
}

.block2 img {
    max-width: 100%;
    height: auto;
}

.block2_card {
    max-width: 480px;
    padding-left: 40px;
}

section {
    max-width: 100%;
    padding-top: 80px;
    margin-top: 132px;
    align-items: center;
    justify-content: space-between;
}

.block1 {
    display: flex;
    max-width: 1296px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.block1_card {
    max-width: 380px;
    margin: 0 auto;
}

.destaque1{
    font-weight: bold;
    margin-right: 10px;
    font-size: 60px;
}

.destaque2{
    font-weight: 300px;
    font-style: italic;
}

.block1_card h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 300px;
}

.block2_card p {
    color: #C4C4C4;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.block3 {
    max-width: 1296px;
    margin: 100px auto;
    padding: 60px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(89.95deg, #91282F 0.44%, #330002 98.92%);
    border-radius: 10px;
}

.block3_text {
    max-width: 450px;
    padding: 0 20px;
}

.block3_text h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 600;
}

.block3_text p {
    color: #C4C4C4;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.block3_img img {
    max-width: 100%;
    height: auto;
}

.btn1 {
    margin-top: 30px;
}

.btn1 a, .btn2 {
    display: inline-block;
    padding: 16px 33px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}

.btn1 a:hover, .btn2:hover {
    background-color: #fff;
    color: #000;
}

.btn2{
    width: 100px;
    background-color: #000;
}

footer {
    padding: 40px 0;
    background-color: #ffffff;
    color: #000000;
}

footer h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 400;
    color: #000000;
    
}

.text_footer {
    max-width: 1310px;
    margin: 30px auto;
    padding: 30px 20px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    text-align: center;
    color: #000000;
}

.text_footer p {
    color: #C4C4C4;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
}

.text2_footer {
    display: flex;
    justify-content: space-between;
    max-width: 1310px;
    margin: 30px auto;
    padding: 0 20px;
    color: #000000;
}

.text2_footer p {
    color: #C4C4C4;
    font-size: 14px;
    color: #000000;
}

.text2_footer a {
    color: #C4C4C4;
    color: #000000;
}

.text2_footer a:hover {
    color: #555555;
}

@media screen and (max-width: 1200px) {
    .block1, .block2, .block3 {
        max-width: 95%;
    }
            
    .block1, .block2 {
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
    }
    
    .block1_card, .block2_card {
    max-width: 80%;
    padding: 0;
    margin-bottom: 40px;
    }
    
    .block1 img, .block2 img {
    max-width: 80%;
    margin: 0;
    }
    
    .block3 {
    flex-direction: column;
    text-align: center;
    }
    
    .block3_text {
        max-width: 80%;
        margin-bottom: 40px;
        padding: 0;
    }
    
    .block3_img {
        padding: 0;
    }
            

    .cabecalho {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;

    }

    .cabeçalho li{
        padding: 20px;
    }

    .img {
        margin-bottom: 20px;

    }

    .botoes_cabecalho ul {
        flex-direction: column;
        display: flex;
        text-align: center;
    }

    .botoes_cabecalho li {
        margin: 10px 0;
    }

    .text2_footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text2_footer p {
        margin: 10px 0;
         
    }
    
    .block1_card h2 {
        font-size: 36px;
    }

    .block3_text h2 {
        font-size: 28px;
    }

    .btn1 a, .btn2 {
        padding: 12px 24px;
        font-size: 14px;
    }

    .block1, .block2, .block3 {
        padding: 30px 15px;
    }

}
