
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    font-family: sans-serif;
    color: white;
}

.header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #3d3d3d;
}

.container1 {
    max-width: 1280px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin: 0 auto;
}

.logo img {
    width: 83px;
    height: 22.21px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 16px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.comprar {
    border-radius: 10px;
    border: 1px solid white;
}

.container2 {
    max-width: 1280px;
    height: 366px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 152px auto;
    gap: 61px;
}

.container2 img {
    width: 850px;
    height: 366px;
}

h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 16px;
    display: flex;
}

.destaque {
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 1px;
    line-height: 46.2px;
    text-align: center;
}

.ultimate700 {
    font-style: italic;
    font-weight: 400;
    line-height: 46.2px;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    font-size: 30px;
    letter-spacing: 1px;
}

.container2 p {
    width: 350px;
    height: 73px;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 16px;
    color: rgba(255, 255, 255, 1);
    ;
}
.container3 p {
    width: 636px;
    height: 97px;    
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: 1px;
}

.botao {
    display: inline-block;
    height: auto;
    padding: 16px 33px;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
}
.botao2 {
    display: inline-block;
    height: auto;
    padding: 16px 33px;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
}

.container3 {
    max-width: 1280px;
    height: 359px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 33px;
}

.container3 img {
    width: 100%;
    height: auto;
}

.container4 {
    max-width: 1280px;
    margin: 64px auto;
    padding: 40px 20px;
}

.banner-aston {
    background: linear-gradient(90deg, #7d1d22, #330002);
    border-radius: 16px;
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 20px;
}

.banner-texto {
    flex: 1;
}

.banner-texto h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
}

.banner-texto p {
    width: 396px;
    height: 55px;
    margin-top: 8px;
    font-size: 17px;
    line-height: 27.3px;
    font-weight: 400;
    color: #ddd;
}

.botao-banner {
    display: inline-block;
    margin-bottom: 12px;
    width: 200px;
    height: auto;
    background-color: #000000;
    padding: 16px 33px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    border: 1px solid white;
}

.banner-aston img {
    max-width: 450px;
    width: 100%;
    height: auto;
}

.rodape .aviso p{
    width: 1280px;
    height: 51px;
    font-weight: 500;
    font-size: 14px;
    vertical-align: center;
}

.rodape{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 40px 20px;
    margin-top: 100px;
 }
 
 .rodape h2{
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 1px;
 }
 
 .rodape hr{
    margin: 20px auto;
    width: 1280px;
    border: 2px solid rgba(164, 164, 164, 1)
 }
 
 .rodape .aviso{
    width: 1280px;
    height: 51px;
    font-weight: 500;
    font-size: 14px;
    margin: 0 auto;
    line-height: 1.6;
 }

.rodapecima{
    width: 1280px;
    margin: 0 auto;
    font-weight: 500;
    line-height: 100%;
}

 .rodape .rodapecima p{
    font-weight: normal;
    margin-bottom: 64px;
 }
 
 .rodape .creditos{
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
 }
 
 .rodape .links a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: normal;
 }
