@font-face{
    font-family: "Inter";
    src: url(../font/Inter/Inter_18pt-Bold.ttf);
    font-weight: 700;
}

@font-face{
    font-family: "Inter";
    src: url(../font/Inter/Inter_18pt-Regular.ttf);
    font-weight: 400;
}

@font-face{
    font-family: "Inter";
    src: url(../font/Inter/Inter_24pt-Light.ttf);
    font-weight: 300;
}

@font-face{
    font-family: "Inter";
    src: url(../font/Inter/Inter_18pt-SemiBold.ttf);
    font-weight: 600;
}

@font-face{
    font-family: "Inter";
    src: url(../font/Inter/Inter_18pt-Medium.ttf);
    font-weight: 500;
}