* {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

body{
    background-color: black;
    color: white;
}

.header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #3d3d3d;
}

.menu-container {
    max-width: 1280px;  /* limite no desktop */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;   /* espaçamento horizontal */
    margin: 0 auto;
}


.logo img{
    width: 83px;
    height: 22.21px;
    border: 1.3px;
}

.menu{
    list-style: none;
    display: flex;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.btnmenu {
    border: 1.5px solid white;
    width: 106px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}    

.sub-texto{
    width: 350px;
    height: 73px;
}
.banner img{
    width: 850px;
    height: 366px;
}
.Destaque{
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 46.2px;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: text-bottom;
}

.ultimate700{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    line-height: 46.2px;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
}

.container{
    width: 1276px;
    height: 366px;
    display: flex;
    gap: 61px;
    margin: 152px auto 0 auto;
}
.banner{
    margin: 0 auto;
}
.btn{
    width: 172px;
    height: 52px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    border: 1px solid white;
    gap: 10px;
    padding: 16px 33px 16px 33px;
}
.banner p{
    width: 350px;
    height: 73px;
}

.carro2 img{
    background-image: url(imagem/fundo\ carro\ preto\ 2.png);
}